
/*====================
======Service CSS=====
======================*/

#services {
  background-image: url("");
  color:#fff;
  text-align:center;
  background-color:	#0A0A13;
}

.services {
	display:block;
	overflow:hidden;
	margin-top:50px
}

#services h2{
  color: #fff;
  border-color: #fff;
  margin-bottom:35px
}

.single-service {
	background-color: rgba(0, 0, 0, 0.39);
	/*padding:25px; hendri*/ 
	padding:10px;
	transition: all 0.9s ease 0s;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
}

.single-service p {
	text-align:justify;
}

.single-service i {
	text-align:center;
	font-size:50px;
	background-color: #fff;
	border-radius: 50%;
	display: inline-block;
	height: 90px;
	line-height: 90px;
	width: 90px;
	color:#43484E;
	transition: all 0.9s ease 0s;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
}

.single-service:hover {
	background-color: #fc7700;
}

.single-service:hover i {
	color:#fc7700;
	-moz-transform: scale(1.1) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}

